<h1>Welcome Again!</h1>
<form id="form" action="/login" method="POST">
  <label for="email">Email</label><br>
  <input type="text" name="email" placeholder="Your Email">
  <br>
  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="Your Password">

  <button type="submit">Login</button>
  <br>
  <a href="">I'm new and I want to join</a>

</form>