{{!-- <h2>Join us!</h2>
<p>But first choose your role:</p>
<div class="tab">
  <button class="tablinks" onclick="openLoginTwo(event, 'Chef')">I'm a Chef</button>
  <button class="tablinks" onclick="openLogin(event, 'Client')">I'm a Client</button>
</div> --}}

<div id="Chef" class="tabcontent">
  <div class="signup-container">
    <h2>Welcome Chef! Sign Up here:</h2>
    <div class="tab">
      <button class="tablinks" onclick="openLoginTwo(event, 'Chef')">I'm a Chef</button>
      <button class="tablinks" onclick="openLogin(event, 'Client')">I'm a Client</button>
    </div>
    <div class="signup-form-box">
      <form id="form" action="/signup" method="POST" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name">
        <label for="surname">Surname</label>
        <input type="text" name="surname" placeholder="Surname">
        <label for="image">Profile Image</label>
        <input type="file" name="image">
        <label for="yearsOfExperience">Year of experience</label>
        <input type="number" name="yearsOfExperience" min="0" max="50" placeholder="Min 0 and max 50 years">
        <label for="languages">Languages that you speak</label>
        <input type="text" name="languages" placeholder="Languages that you speak">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="hello@helloworld.com">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Insert a password">
        <button class="create-account-button" type="submit">Create Account</button>
      </form>
      {{#if error}}
        <div class="error-message">{{ error }}</div>
      {{/if}}
    </div>
  </div>
</div>

<div id="Client" class="tabcontent-two">
  <div class="signup-container">
    <h3>Welcome! You can Sign Up here:</h3>
    <div class="signup-form-box-client">
      <form id="form" action="/signup-client" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="hello@helloworld.com">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Insert a password">
        <button class="create-account-button" type="submit">Create Account</button>
      </form>
      {{#if error}}
        <div class="error-message">{{ error }}</div>
      {{/if}}
    </div>
  </div>
</div>