<div class="signup-container">
  <h2>Join us!</h2>
  <div class="signup-form-box">
    <form id="form" action="/signup" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name">
      <label for="surname">Surname</label>
      <input type="text" name="surname" placeholder="Surname">
      <label for="image">Image </label>
      <label for="yearsOfExperience">Year of experience</label>
      <input type="number" name="yearsOfExperience" min="0" max="50" placeholder="Min 0 and max 50 years">
      <label for="languages">Languages</label>
      <input type="text" name="languages" placeholder="Languages that you speak">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="hello@helloworld.com">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Insert a password">
      <button class="create-account-button" type="submit">Create account</button>
    </form>
  </div>
</div>