<h1>Join us!</h1>
<form id="form" action="/signup" method="POST">
  <label for="email">Email</label><br>
  <input type="text" name="email" placeholder="Your Email">

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="Your Password">

  <button type="submit">Create account</button>

</form>