<div class="about-us-container">
	<h2>About us</h2>
	<p class="about-us-presentation">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum nesciunt possimus excepturi sapiente omnis, aspernatur debitis similique perspiciatis minus cumque maiores earum nulla error!
		<br> dolorum accusantium ea quidem quia!Possimus sed impedit corrupti nam dolore ducimus illum reiciendis quo facere! Quis, vel in obcaecati, laborum fuga libero voluptas autem non et sed, aliquid laudantium aliquam sit error earum officia?</p>
	<div class="about-us-profiles">
		<div class="about-us-profile-box">
			<img class="about-us-profile-img" src="../images/about us/pablo-olondriz.jpg" alt="Pablo">
			<h3 class="about-us-profile-name">Pablo Olóndriz</h3>
			<p>Pablo studied Business Management in Barcelona. After that, he went to travel the world with a backpack, wrote a book and then came back. He was working as the General Manager of the biggest SEO agency in Spain when he quit his job to pursue again the entrepreneurial dream.</p>
		</div>
		<div class="about-us-profile-box">
			<img class="about-us-profile-img" src="" alt="Carla">
			<h3 class="about-us-profile-name">Carla Martin</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure consequuntur laborum nisi officiis aspernatur a itaque doloremque hic repellendus magni, odit ratione sed sit, quibusdam aut atque molestiae laudantium deserunt.</p>
		</div>
		<div class="about-us-profile-box">
			<img class="about-us-profile-img" src="" alt="Carles">
			<h3 class="about-us-profile-name">Carles Galí</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure consequuntur laborum nisi officiis aspernatur a itaque doloremque hic repellendus magni, odit ratione sed sit, quibusdam aut atque molestiae laudantium deserunt.</p>
		</div>
	</div>
</div>