<div class="about-us-container">
	<h2>About us</h2>
	<p class="about-us-presentation">We are a group of 3 students of web developers at the school of Ironhack Barcelona, with one idea, bring at home the experience of a restaurant but without go out of the house. With this idea in our head, we decide to create the project "KUISIN".
		A web page for people who want the best of chefs in a unique first-person experience. So here you can find our knowledge of programming web page, our idea of business and how we transform an idea in a project with vision and future.</p>
	<p class="about-us-presentation-final">"We want that will be one of the most intuition and enjoyable experience that you could have on a web page."</p>
	<div class="about-us-profiles">
		<div class="about-us-profile-box">
			<img class="about-us-profile-box-img" src="../images/about us/pablo-olondriz.jpg" alt="Pablo">
			<h3 class="about-us-profile-box-name">Pablo Olóndriz</h3>
			<p>Pablo studied Business Management in Barcelona. After that, he went to travel the world with a backpack, wrote a book and then came back. He was working as the General Manager of the biggest SEO agency in Spain when he quit his job to pursue again the entrepreneurial dream.</p>
		</div>
		<div class="about-us-profile-box">
			<img class="about-us-profile-box-img" src="" alt="Carla">
			<h3 class="about-us-profile-box-name">Carla Martin</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure consequuntur laborum nisi officiis aspernatur a itaque doloremque hic repellendus magni, odit ratione sed sit, quibusdam aut atque molestiae laudantium deserunt.</p>
		</div>
		<div class="about-us-profile-box">
			<img class="about-us-profile-box-img" src="../images/about us/carles-galí.jpg" alt="Carles">
			<h3 class="about-us-profile-box-name">Carles Galí</h3>
			<p>Carles is a yachtsman that begun at the age of 6 years old. After that, he never stopped sail and push his limits in many oceans. In his journey, he became one of the youngest coaches to be part of the national team learning with the Olimpic coaches. Now is studying to become part of the new generation of web developers.</p>
		</div>
	</div>
</div>