<h2 class="menus-title">About us</h2>
<div class="about-us-container">
	<div class="about-us-profiles">
		<div class="about-us-profile-box">
			<img class="about-us-profile-box-img" src="../images/about us/pablo-olondriz.jpg" alt="Pablo">
			<h3 class="about-us-profile-box-name">Pablo Olóndriz</h3>
			<p class="about-us-profile-box-description">Pablo studied Business Management in Barcelona. After that, he went to travel the world with a backpack,
				wrote a book and then came back. He was working as the General Manager of the biggest SEO agency in
				Spain when he quit his job to pursue again the entrepreneurial dream.</p>
		</div>
		<div class="about-us-profile-box">
			<img class="about-us-profile-box-img" src="../images/about us/carla-martin.jpg" alt="Carla">
			<h3 class="about-us-profile-box-name">Carla Martin</h3>
			<p class="about-us-profile-box-description">Carla studied Tourism and specialized in Human Resources Management. Always motivated by interpersonal
				relations, she began her professional career in HR in an IT consultancy where she confirmed her passion
				for people and,surprisingly, for technology. Later, driven by the need of new adventures she moved and
				back to achieve
				her goal of combining people, technology and education, being Career coach at Ironhack.
			</p>
		</div>
		<div class="about-us-profile-box">
			<img class="about-us-profile-box-img" src="../images/about us/carles-galí.jpg" alt="Carles">
			<h3 class="about-us-profile-box-name">Carles Galí</h3>
			<p class="about-us-profile-box-description">Carles is a yachtsman that begun at the age of 6 years old. After that, he never stopped sail and push
				his limits in many oceans. In his journey, he became one of the youngest coaches to be part of the
				national team learning with the Olimpic coaches. Now is studying to become part of the new generation of
				web developers.</p>
		</div>
	</div>
	<p class="about-us-presentation">We are three web developer students at Ironhack Barcelona that had
		one idea: bring to your home the full experience of a restaurant, without leaving the comfort of your house. With this idea in
		our heads, we decide to create "KUISIN", a webpage for people who want the best Chefs in a unique first-person experience. So here you can find our 
		programming knowledge, our business idea and how we transform this idea to a project with vision
		and future.</p>
	<p class="about-us-presentation-final">"We want you to have the most intuitive and enjoyable experience that
		you could have on a webpage."</p>
</div>