<h2>Cart</h2>

<ul>
	<p>{{ menus.title }}</p>
{{#each currentClient.cart }}
	<li>{{ this }}</li>
{{/each}}
</ul>

<form action="/cart/{{ currentClient._id }}/deleteAll" method="post">
	<button class="menu-info-delete-button">Delete Your Menu</button>
</form>