<h1>Chefs</h1>

<div class="chef-box">
  {{#each chefs }}
    <a href="/chefs/{{ this._id }}"><img src="{{ this.image }}" alt=""></a> 
    <p>{{ this.name }} {{ this.surname }}</p>
  {{/each}}
</div>

