<h2 class="menus-title">How it works</h2>
<div class="how-it-works-container"></div>
    <div class="how-it-works-info-box">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus dignissimos atque eos iure cupiditate qui, natus quo porro ullam doloremque vitae, delectus placeat minus beatae nobis doloribus debitis praesentium.</p>
        <img src="../images/cooking-chef.jpg" alt="chef">
    </div>
    <div class="how-it-works-info-box">
        <img src="../images/menu-image.jpg" alt="dish">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit distinctio numquam illum dignissimos, eius, aperiam error repudiandae rerum mollitia doloribus quos iste tempore consequatur vero nihil explicabo fugiat quis qui.</p>
    </div>
    <div class="how-it-works-info-box">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde at quibusdam alias, repellendus magnam possimus dicta ut id vitae officiis adipisci nemo recusandae impedit. Autem officia suscipit quibusdam maiores ipsa?</p>
        <img src="../images/romantic-dinner.jpg" alt="">
    </div>
</div>
