<div class="menus-title"><h2>How it works</h2></div>
<div class="how-it-works-container"></div>
	<div class="how-it-works-info-box">
		<div>
			<p class="how-works-number">1. BROWSE</p>
			<p class="how-works-description">Kuisin lets you browse through lots of different yummy Menus created by professional Chefs.</p>
		</div>
		<img class="how-it-works-image" src="../images/cooking-chef.jpg" alt="chef">
	</div>
	<div class="how-it-works-info-box">
		<div>
			<p class="how-works-number">2. ORDER</p> 
			<p class="how-works-description"> Once you find your Menu, add it to the Cart and choose the date for the special occasion.</p>
		</div>
		<img class="how-it-works-image" src="../images/menu-image.jpg" alt="dish">
	</div>
	<div class="how-it-works-info-box last-box">
		<div>
			<p class="how-works-number">3. ENJOY</p>
			<p class="how-works-description"> On that designed day, the Chef will come to your place and cook your special Menu, presenting you the dishes and cleaning everything afterwards.</p>
		</div>
		<img class="how-it-works-image" src="../images/homepage-background1.jpg" alt="">
	</div>
</div>
