<h2 class="menus-title">How it works</h2>
<div class="how-it-works-container"></div>
    <div class="how-it-works-info-box">
        <p class="how-works-number">1. </p><p class="how-works-description">Kuisin lets you browse through lots of different yummy Menus and professional Chefs.</p>
        <img class="how-it-works-image" src="../images/cooking-chef.jpg" alt="chef">
    </div>
    <div class="how-it-works-info-box">
        <p class="how-works-number">2. </p> <p class="how-works-description"> Once you find your Menu, add it to the Cart and choose the date for the special occasion.</p>
        <img class="how-it-works-image" src="../images/menu-image.jpg" alt="dish">
    </div>
    <div class="how-it-works-info-box">
         <p class="how-works-number">3. </p><p class="how-works-description"> On that designed day, the Chef will come to your place and cook your special Menu, presenting you the dishes and cleaning everything afterwards.</p>
        <img class="how-it-works-image" src="../images/romantic-dinner.jpg" alt="">
    </div>
</div>
