<<<<<<< HEAD
<section class="index-container">
    <h1>Home Delivery Chef</h1>
    <h2>For special occasions, romantic dinners or parties.</h2>
    <p>Don't cook, don't clean, just enjoy what really matters.</p>
    <button class="index-order-button"><a href="">Make your order</a></button>
</section>
=======
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="chefs">Chefs</a>
<br>
<a href="login">My Account</a>
>>>>>>> bfb3bc2c80b00a4c10c28338b072af7e22c83c7d
