<section class="index-container">
	<div class="index-title-box">
		<h1>Home Delivery Chef</h1>
		<h2>For special occasions, romantic dinners or parties.</h2>
		<p>Don't cook, don't clean, just enjoy what really matters.</p>
	</div>
	<button class="index-order-button"><a href="<!FALTA RUTA!!!!!!! (recordatorio)>">Make your order</a></button>
</section>
