<section class="homepage-container">
	<div class="homepage-title-box">
		<h1 class="homepage-title">YOUR HOME <br> DELIVERY CHEF</h1>
		<p class="homepage-description">Hire your own Chef for special occasions, romantic dinners or parties. Don't cook, don't clean, just enjoy what really matters. </p>
		<a href="/menus"><button class="homepage-order-button">Make your order Now</button></a>
	</div>
</section>
<section class="homepage-three-icons">
	<div>
		<img class="homepage-icon-img" src="/images/how it works/003-restaurant.png" alt="">
			<hr class="homepage-icon-separator">
			<p class="homepage-icon-description">Browse through lots of different delightful Menus and professional Chefs on Kuisin.</p>
	</div>
	<div>
		<img class="homepage-icon-img" src="/images/how it works/002-chef.png" alt="">
			<hr class="homepage-icon-separator">
			<p class="homepage-icon-description">Once you find your Menu, add it to the Cart and choose the date for the special occasion.</p>
	</div>
	<div>
		<img class="homepage-icon-img" src="/images/how it works/001-cooking.png" alt="">
			<hr class="homepage-icon-separator">
			<p class="homepage-icon-description">On that designed day, the Chef will come to your place and cook your special Menu</p>
	</div>
</section>
<section class="homepage-third-section">
	<img class="third-section-img" src="/images/homepage-meal.jpg" alt="">
	<div>
		<img class="third-section-quotation" src="/images/quotation-marks1.png" alt="">
		<p class="third-section-description">Tristique tempus condimentum diam donec. Condimentum ullamcorper sit elementum hendrerit mi nulla in consequat, ut. Metus, nullam scelerisque netus viverra dui pretium pulvinar. </p>	
		<img class="third-section-signature" src="/images/signature.png" alt="">
	</div>
</section>