<section class="homepage-container">
	<div class="homepage-title-box">
		<h1 class="homepage-title">YOUR HOME <br> DELIVERY CHEF</h1>
		<p class="homepage-description">Hire your own Chef for special occasions, romantic dinners or parties. Don't cook, don't clean, just enjoy what really matters. </p>
		<a href="/menus"><button class="homepage-order-button">Make your order Now</button></a>
	</div>
</section>
