<section class="homepage-container">
	<div class="homepage-title-box">
		<h1 class="homepage-title">YOUR HOME <br> DELIVERY CHEF</h1>
		<p class="homepage-description">Hire your own Chef for special occasions, romantic dinners or parties. Don't cook, don't clean, just enjoy what really matters. </p>
		<button class="homepage-order-button"><a href="/menus">Make your order Now</a></button>
	</div>
</section>
