<section class="index-container">
	<h1>Home Delivery Chef</h1>
	<h2>For special occasions, romantic dinners or parties.</h2>
	<p>Don't cook, don't clean, just enjoy what really matters.</p>
	<button class="index-order-button"><a href="">Make your order</a></button>
</section>
