<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar-container">
      <ul class="left-navbar-menu-chef">
          <li><a href=""><img src="" alt="Logo"></a></li>
          <li><a href="">Menu</a></li>
          <li><a href="">Chefs</a></li>
          <li><a href="">How it works</a></li>
      </ul>

      <ul class="right-navbar-account">
          <li><a href="">My account</a></li>
          <li><a href="">Cart</a></li>
      </ul>
    </nav>
    
    {{{body}}}

    <footer>
      <ul>
        <li><a href="">Menu</a></li>
        <li><a href="">Chefs</a></li>
        <li><a href="">How it works</a></li>
        <li><a href="">About us</a></li>
      </ul>
    </footer>
  </body>
</html>
