<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar-container">
      <ul class="left-navbar-menu-chef">
        <a href="/"><img class="layout-image-logo" src="./images/kuisin-logo.png" alt="Logo"></a>
        <li><a href="">Menus</a></li>
        <li><a href="/chefs">Chefs</a></li>
        <li><a href="">How it works</a></li>
      </ul>

      <ul class="right-navbar-account">
        <li><p>{{ currentUser.email }}</p></li>
        <li><button class="layout-button-account"><a href="/login">My account</a></button></li>
        <li><button class="layout-button-cart"><a href="">Cart</a></button></li>
        <li><button class="layout-button-logout"><a href="/logout">Logout</a></button></li>
      </ul>
    </nav>

    {{{body}}}

    <footer>
      <div class="footer-container">
        <ul>
        <li><a href="">Menu</a></li>
        <li><a href="/chefs">Chefs</a></li>
        <li><a href="">How it works</a></li>
        <li><a href="">About us</a></li>
      </ul>
      </div>

    </footer>
  </body>
</html>
