/*****************
**** ABOUT US ****
*****************/

.about-us-container {
	display: flex;
	flex-direction: column;
	margin: 0 6%;
	align-items: center;
}

.about-us-quotation-mark {
	margin-top: 2rem;
	width: 8rem;
}

.about-us-presentation {
	font-size: 1.6rem;
	margin: 1rem 2rem 1rem;
	text-align: center;
	font-family: 'Lora', sans-serif;
}

.about-us-profiles {
	display: flex;
	margin: 2rem 2rem;
}

.about-us-profile-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 2rem;
	background-color: black;
	opacity: 0.95;
	color: white;
}

.about-us-profile-box-description {
	padding: 0rem 1.5rem 1.5rem;
	font-family: 'Lora', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	width: 20rem;
}

.about-us-profile-box-img {
	margin-top: 1.5rem;
	width: 20rem;
	border-radius: 2px;
}

.about-us-profile-box-name {
	font-size: 2.5rem;
	font-weight: 400;
	font-family: 'Bebas Neue', cursive;
	margin: 2rem 0;
}

.about-us-presentation-final {
	font-size: 1.7rem;
	margin: 1rem 2rem;
	text-align: center;
	font-family: 'Lora', sans-serif;
}

.about-us-presentation-final-box {
	background-color: black;
	color: white;
	margin: 3rem 0 5rem;
	padding: 2rem 4rem;
	opacity: 0.95;
}

/*****************
** HOW IT WORKS **
*****************/

.how-it-works-container {
	display: flex;
	flex-direction: column;
}

.how-works-description {
	font-size: 1.8rem;
	color: white;
	font-family: 'Lora', serif;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-bottom: 3rem;
}

.how-works-number {
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
	font-weight: 900;
	color: white;
	margin: 3rem 2rem 0rem 5rem;
}

.how-it-works-image {
	border-radius: 0px;
	width: 22rem;
}

.how-it-works-info-box {
	background-color: black;
	margin: 2rem 5rem;
	display: flex;
}

.how-it-works-info-box > p {
	font-family:'Lato', sans-serif;
}

.how-it-works-info-box:last-child {
	margin-bottom: 5rem;
}

.last-box {
	margin-bottom: 5rem;
}