/****************
***** CHEFS *****
****************/

.chefs-title {
	font-size: 2.5rem;
	font-family: 'Lato', sans-serif;
	color: white;
	padding: 4rem 0;
	margin-bottom: 1.5rem;
	height: 5rem;
	width: 100%;
	background-image: url(/images/kuisin-chefs1.jpg);
	background-size: 100%;
	opacity: 0.9;
}

.chefs-title > h2 {
	margin-left: 8rem;
}

.chefs-container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	background-color: white;
	justify-content: center;
	margin-bottom: 2.5rem;
}

.chef-box {
	background-color: white;
	border-radius: 8px;
	border: 3px solid rgb(54, 54, 54);
	margin: 1.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chef-name {
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 4%;
	text-transform: uppercase;
}

.chef-picture {
	width: 16rem;
	height: auto;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.see-more-chef-btn {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.15em solid rgb(54, 54, 54);
	margin:0 0.3em 1.5em 0;
	border-radius:0.4em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Lato', sans-serif;
	font-size: 0.8rem;
	font-weight:500;
	color: black;
	text-align:center;
	transition: all 0.2s;
	background-color:#FFFFFF;
}

.see-more-chef-btn a {
	text-decoration: none;
	color: #000000;
}

.see-more-chef-btn:hover{
	color:#000000;
	background-color:#dfe6e9;
}

.see-more-chef-btn:focus {
	outline: 0;
}

.separator-chef-profile {
	width: 25%;
	margin-bottom: 10%;
}

/********************
*** CHEFS PROFILE ***
********************/

.chef-profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chef-profile-box {
	margin-top: 3rem;
	display: flex;
	background-color: black;
	border-radius: 0.5rem;
	opacity: 0.9;
	color: white;
}

.chef-profile-image {
	width: 20rem;
	height: auto;
	margin: 3rem;
	border-radius: 2px;
}

.chef-profile-info {
	margin: 3rem 3rem;
	font-family:'Lora', sans-serif;
	font-size: 1.4rem;
}

.chef-name-profile {
	font-size: 3.2rem;
	font-weight: 400;
	text-align: center;
	font-family:'Bebas Neue', sans-serif;
	font-weight: bold;
	letter-spacing: 0.07em;
}

.years-experience {
	font-family:'Lora', sans-serif;
	font-size: 1.4rem;
}

.spoken-languages {
	font-family:'Lora', sans-serif;
	font-size: 1.4rem;
}

.spoken-languages > ul > li {
	font-family:'Lora', sans-serif;
	font-size: 1.4rem;
}

.menus-title-profile {
	margin: 3rem 0 2rem;
	font-size: 2rem;
	font-family:'Lora', sans-serif;
	text-align: center;
}

.chef-profile-edit-button {
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	padding: 12px 20px; 
	margin: 15px 0px 15px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: black;
	color:white;
	border-radius: 2px;
}

.chef-profile-edit-button:hover {
	background-color: white;
	color: black;
}

.chef-profile-create-menu-button  {
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	padding: 12px 20px; 
	margin: 15px 0px 15px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: white;
	color:black;
	border-radius: 2px;
}

.chef-profile-create-menu-button:hover {
	background-color: black;
	color: white;
}

/*******************
*** CHEFS UPDATE ***
*******************/

.update-chef-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Baloo 2', cursive;
	background-image: url('../images/fire.jpg');
	background-repeat: space;
	background-size: 100%;
}

.update-chef-container > h2 {
	font-size: 5rem;
	color: white;
	text-decoration: underline;
	margin: 2rem 0 2rem 0;
}

.update-chef-box {
	margin: 1rem 0 3rem 0;
	border: 1px solid rgb(54, 54, 54);
	background-color: rgb(54, 54, 54);
	border-radius: 3rem;
	width: 22rem;
	height: auto;
	font-size: 1.4rem;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.update-chef-box > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
}

.update-chef-box > form > label {
	margin-top: 1rem;
}

.update-chef-box > form > input {
	margin-top: 0.5rem;
	width: 14rem;
	height: 2rem;
	border-radius: 0.5rem;
	font-size: 1rem;
}

.update-account-button {
	font-size: 1.2rem;
	margin: 2rem 0 1rem 0;
	width: 10rem;
	height: 3rem;
	border-radius: 2rem;
	background-color: white;
}

.update-account-button > a {
	text-decoration: none;
	font-family: 'Baloo 2', cursive;
	font-size: 1.3rem;
}

.update-account-button:focus {
	outline: 0;
}

.update-account-button:active {
	box-shadow: 1px 2px 1px black;
	transform: translateY(2px);
}