/****************
***** INDEX *****
****************/

.homepage-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-image: url('../images/homepage-background1.jpg');
	background-color: white;
	background-repeat: space;
	background-size: 100%;
	margin-top: 0;
	width: 100%;
	height: 50rem;
	color: rgba(255, 255, 255, 0.849);
	font-family: 'Baloo 2', cursive;
}

.homepage-title-box {
	width: 32rem;
	height: auto;
	background-color: black;
	opacity: 0.8;
	margin: 4rem 0 0 6rem;
	padding: 4rem 0 2rem 6rem;
}

.homepage-title {
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 6rem;
	color: white;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.homepage-description {
	font-family: 'Lora', serif;
	font-size: 1.4rem;
	margin-right: 7rem;
}

.homepage-order-button {
	cursor: pointer;
	padding: 15px 20px; 
	margin: 45px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: black;
	color:white;
}

.homepage-order-button:hover {
	background-color: white;
	color: black;
}

.homepage-three-icons {
	margin: 3rem 4rem;
	display: flex;
	justify-content: space-between;
}

.homepage-icon-img {
	height: 13rem;
	margin-bottom: 1rem;
	margin-left: 5rem;
	margin-top: 1rem;
	opacity: 0.9;
}

.homepage-icon-separator {
	width: 5rem;
}

.homepage-icon-description {
	font-family: 'Lora', sans-serif;
	font-size: 1.2rem;
	padding: 0 2.8rem;
	text-align: center;
	width: 19rem;
}

.homepage-third-section {
	display: flex;
}

.third-section-img {
	width: 37rem;
	margin: 3rem 3rem 5rem 5rem;
	border-radius: 4px;
}

.third-section-description {
	margin: 0rem 6rem 0rem 1rem;
	font-family: 'Lora', sans-serif;
	font-size: 3rem;
	font-weight: 500;
}

.third-section-signature {
	width: 12rem;
	margin: 2rem 0 0 15rem;
}

.third-section-quotation {
	width: 8rem;
	margin: 5rem 0 0 0;
}

.homepage-fourth-section {
	margin-top: 1rem;
	margin-bottom: 2rem;
	position: relative;
}

.fourth-section-img {
	width: 100vw;
}

.homepage-fourth-title-box {
	position: absolute;
	opacity: 0.9;
	width: 31rem;
	height: auto;
	background-color: black;
	margin: 0rem 0 0rem 5rem;
	padding: 4rem 0 2rem 6rem;
	top: 2rem;
}

.homepage-fourth-title {
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 6rem;
	color: white;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.homepage-fourth-description {
	font-family: 'Lora', serif;
	font-size: 1.4rem;
	margin-right: 7rem;
	color: white;
}

.homepage-fourth-order-button {
		cursor: pointer;
		padding: 15px 20px; 
		margin: 45px 0px 10px;
		text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
		font-weight: 700;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: black;
	color:white;
}

.homepage-fourth-order-button:hover {
	background-color: white;
	color: black;
}