/****************
***** INDEX *****
****************/

.homepage-container {
	background-image: url('../images/homepage-background1.jpg');
}

.homepage-fourth-section {
	background-image: url('/images/crema-catalana.jpg');
}

.homepage-container, .homepage-fourth-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: white;
	background-repeat: space;
	background-size: 100%;
	margin-top: 0;
	width: 100%;
	height: auto;
	color: rgba(255, 255, 255, 0.849);
	font-family: 'Baloo 2', cursive;
}

.homepage-fourth-section {
	margin-bottom: 0.5rem;
}

.homepage-title-box, .homepage-fourth-title-box {
	width: 32rem;
	height: auto;
	background-color: black;
	opacity: 0.8;
	margin: 4rem 0 4rem 6rem;
	padding: 4rem 0 1.7rem 6rem;
}

.homepage-fourth-title-box {
	margin: 2rem;
}

.homepage-title {
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 6rem;
	color: white;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.homepage-description {
	font-family: 'Lora', serif;
	font-size: 1.4rem;
	margin-right: 7rem;
}

.homepage-order-button {
	cursor: pointer;
	padding: 15px 20px; 
	margin: 45px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: black;
	color:white;
}

.homepage-order-button:hover {
	background-color: white;
	color: black;
}

.homepage-order-button:focus {
	outline: none;
}

.homepage-three-icons {
	margin: 3rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.homepage-three-icons-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 2rem;
}

.homepage-icon-img {
	height: 13rem;
	opacity: 0.9;
}

.homepage-icon-separator {
	margin-top: 2rem;
	width: 8rem;
}

.homepage-icon-description {
	font-family: 'Lora', sans-serif;
	font-size: 1.2rem;
	text-align: center;
	width: 17rem;
}

.homepage-third-section {
	display: flex;
}

.third-section-img {
	width: 37rem;
	margin: 3rem 3rem 5rem 5rem;
	height: auto;
	border-radius: 4px;
}

.third-section-description {
	margin: 0rem 6rem 0rem 1rem;
	font-family: 'Lora', sans-serif;
	font-size: 3rem;
	font-weight: 500;
}

.third-section-signature {
	width: 12rem;
	margin: 2rem 0 0 15rem;
}

.third-section-quotation {
	width: 8rem;
	margin-top: 5rem;
}

.homepage-fourth-title {
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 6rem;
	color: white;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.homepage-fourth-description {
	font-family: 'Lora', serif;
	font-size: 1.4rem;
	margin-right: 7rem;
	color: white;
}

.homepage-fourth-order-button {
	cursor: pointer;
	padding: 15px 20px; 
	margin: 45px 0px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: black;
	color:white;
}

.homepage-fourth-order-button:hover {
	background-color: white;
	color: black;
}

.homepage-fourth-order-button:focus {
	outline: none;
}


/*** MEDIA QUERIES ***/


@media (min-width: 768px) and (max-width: 1290px) {

	.homepage-title-box, .homepage-fourth-title-box {
		margin: 1.9rem 0 1.9rem 1.9rem;
		padding: 3rem 0 1rem 4rem;
	}

	.homepage-title, .homepage-fourth-title {
		font-size: 4rem;
	}
	
	.homepage-description, .homepage-fourth-description {
		font-size: 1.3rem;
		line-height: 1.7rem;
		margin-right: 2rem;
	}

	.third-section-img{
		width: 26rem;
	}
	.third-section-description {
		font-size: 2rem;
	}

	.third-section-signature {
		width: 10rem;
	}

	.homepage-fourth-order-button {
		margin: 1rem 0 1rem 0;
	}
}

@media (max-width: 767px) {
	.third-section-signature {
		width: 8rem;
	}
}

@media (max-width: 480px) {
	.homepage-icon-description {
		font-size: 10rem;
		padding: 0 2.8rem;
		text-align: center;
		width: 19rem;
	}

	.third-section-description {
		font-size: 10rem;
	}
}