body {
	margin: 80px 0px 0px 0px;
	padding: 0px;
	font-size: 10px;
	height: 100%;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

h1 {
	font-size: 1.5em;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

/***************
**** LAYOUT ****
***************/

/*** NAVBAR ***/

.navbar-container {
	display: flex;
	justify-content: space-between;
	font-size: 1.3rem;
	height: 5rem;
	width: 100%;
	font-family: 'Baloo 2', cursive;
	position: fixed;
	top: 0;
	overflow: hidden;
	background-color: black;
	opacity: 0.9;
	z-index: 2;
}

.layout-image-logo {
	width: 11rem;
	margin-top: 0.6rem;
	margin-right: 2.5rem;
	margin-left: 1rem;
}

.left-navbar-menu-chef {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40rem;
	padding: 0px;
	margin: 0px;
}

.menu-separator {
	color: #b2bec3;
}

.current-email {
	color: rgb(255, 153, 0);
	font-family: 'bebas', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	margin-left: 2.5rem;
}

.right-navbar-account {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 35rem;
	margin: 0px;
	padding: 0px;
}

/*** LOGIN AND SIGNUP BUTTONS ***/

.login-signup-btn-container {
	display: flex;
	list-style: none;
	margin-left: 10rem;
}


.layout-btn-signup {
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	padding: 12px 20px; 
	margin: 15px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: black;
	color:white;
	border-radius: 2px;
}

.layout-btn-login {
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	padding: 12px 20px; 
	margin: 15px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: white;
	color:black;
	border-radius: 2px;
}

.layout-btn-login:hover {
	background-color: black;
	color: white;
}

.layout-btn-signup:hover {
	background-color: white;
	color: black;
}

.left-navbar-menu-chef > li > a {
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
}

.left-navbar-menu-chef > li > a:hover,
.left-navbar-menu-chef > li > a:active {
	color: #dfe6e9;
}

.left-navbar-menu-chef > li, .right-navbar-account > li {
	list-style-type: none;
}

.layout-button-account {
	cursor: pointer;
	padding: 10px 20px; 
	margin: 15px 15px 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	border: 2px solid white;
	background: black;
	border-radius: 2px;
	width: 11rem;
	color: white;
}

.layout-button-account:hover {
	color: black;
	background-color: white;
}

.layout-button-account a, .layout-button-logout a { 
	color: white;
	text-decoration: none;
}

.layout-button-logout-chef {
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	padding: 12px 20px; 
	margin: 15px 75px 15px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: white;
	color:black;
	border-radius: 2px;
}

.layout-button-logout-chef:hover {
	color:white;
	background-color: black;
}

.layout-button-logout {
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	padding: 12px 20px; 
	margin: 15px 25px 15px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: white;
	color:black;
	border-radius: 2px;
}

.layout-button-logout:hover {
	background-color: black;
	color: white;
}

.layout-button-cart {
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	padding: 11px 20px; 
	margin: 15px 0px 15px 35px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid white;
	background: black;
	color:white;
	border-radius: 2px;
}

.layout-button-cart:hover {
	background-color: white;
	color: black;
}

.cart-image {
	width: 1rem;
	margin-left: 7px;
	background-color: black;
}

.layout-button-logout:focus, .layout-button-cart:focus, .layout-button-account:focus {
	outline: 0;
}

.layout-button-account:active, .layout-button-logout:active, .layout-button-cart:active {
	box-shadow: 2px 4px 2px rgb(141, 141, 141);
	transform: translateY(2px);
}

/*** FOOTER ***/

.footer {
	/* background: linear-gradient(0deg, black, black, rgb(12, 12, 12), rgb(24, 24, 24), rgb(36, 36, 36), rgb(37, 37, 37)); */
	height: 30rem;
	width: auto;
	color: #d1d8e0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-section {
	background-color: black;
	opacity: 0.87;
	display: flex;
	font-size: 1.1rem;
	justify-content: center;
	font-family: 'Asap', sans-serif;
	padding-bottom: 1.5rem;
}

.footer-div {
	margin-top: 1rem;
	margin-right: 1rem;
	width: 50%;
	padding: 0 2rem;
	line-height: 1.5em;
}

.footer-contact-us {
	margin-left: 2rem;
}

.footer-how-works {
	margin-right: 2rem;
}

.sitemap-list {
	list-style-type: none;
	text-align: center;
	padding-right: 2.2rem;
}

.sitemap-list a {
	text-decoration: none;
	color: #d1d8e0;
	font-size: 1.3rem;
}

.footer-div-title {
	font-weight: 400;
	font-size: 2rem;
	letter-spacing: 1px;
	text-align: center;
	color: white;
	font-family: 'Bebas Neue', cursive;
}

.layout-footer-mailto {
	text-decoration: none;
	color: white;
}

.secure-payment-img {
	width: 15rem;
}

.payment-method-img {
	width: 16rem;
	margin-left: 1.2rem;
	margin-top: 0.3rem;
}

.social-buttons {
	margin-top: 2.5rem;
}

.social-buttons img {
	margin-right: 0.5rem;
}

.social-logo {
	border-radius: 50%;
}

.social-logo:hover {
	box-shadow: 0px 0px 5px 4px rgb(59, 59, 59);
	transform: scale(1.3);
	transition: 0.3s;
	}

.subfooter {
	background-color: black;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 9rem;
	width: 100vw;
	padding-top: 1.2rem;
	opacity: 0.9;
}

.layout-footer-image-logo {
	width: 5rem;
}

.layout-footer-image-logo:hover {
	transform: rotate(360deg) scale(1.3);
	transition: 1s;
}

.copyright {
	margin: 0 0 1.7rem 0;
	font-size: 0.9rem;
	color: white;
	font-family: 'Asap', sans-serif;
}
