/****************
***** MENUS *****
****************/

.menus-title {
	font-size: 2.5rem;
	font-family: 'Lato', sans-serif;
	color: white;
	padding: 4rem 0;
	margin-bottom: 1.5rem;
	height: 5rem;
	width: 100%;
	background-image: url(/images/kuisin-chefs1.jpg);
	background-size: 100%;
	opacity: 0.9;
}

.menus-title > h2 {
	margin-left: 8rem;
}

.menus-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
	margin-bottom: 2.5rem;
}

.menus-box {
	background-color: white;
	border-radius: 8px;
	border: 3px solid rgb(54, 54, 54);
	margin: 1.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menus-picture {
	width: 16rem;
	height: auto;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.menus-name {
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 1%;
	text-transform: uppercase;
}

.menus-price {
	font-family: 'Lato', sans-serif;
	color: rgb(54, 54, 54);
	font-size: 1.2rem;
	font-weight: bold;
}

.menus-cuisine {
	font-family: 'Lato', sans-serif;
	color: rgb(54, 54, 54);
	font-size: 1rem;
	font-weight: bold;
}

.separator-menus-profile {
	width: 25%;
}

.final {
	margin-bottom: 5%;
}

.see-more-menus-btn {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.15em solid rgb(54, 54, 54);
	margin:0 0.3em 1.5em 0;
	border-radius:0.4em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Lato', sans-serif;
	font-size: 0.8rem;
	font-weight:500;
	color: black;
	text-align:center;
	transition: all 0.2s;
	background-color:#FFFFFF;
}

.see-more-menus-btn a {
	text-decoration: none;
	color: #000000;
}

.see-more-menus-btn:hover{
	color:#000000;
	background-color:#dfe6e9;
}

.see-more-menus-btn:focus {
	outline: 0;
}

/****************
*** MENU INFO ***
****************/

.menu-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-info-background-box {
	background-image: url('../images/blackboard.jpg');
	background-repeat: round;
	background-size: 100%;
	margin: 2% 6% 2% 6%;
	border-radius: 2rem;
	height: auto;
	color: white;
}

.menu-info-title {
	text-align: center;
	font-size: 5rem;
	font-family:'Baloo 2', sans-serif;
	font-weight: bold;
	text-decoration: underline;
	font-style: oblique;
	margin-top: 3rem;
}

.menu-info-box {
	display: flex;
	margin: 2rem 10%;
	font-family:'Asap', sans-serif;
	font-size: 1.2rem;
	line-height: 1.7rem;
}

.strong-title {
	font-style: oblique;
	text-decoration: underline;
	font-weight: bolder;
	font-size: 1.5rem;
}

.menu-info-image {
	width: 24rem;
	border-radius: 1rem;
}

.menu-info-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 1rem;
}

.menu-info-name {
	font-size: 2rem;
	text-decoration: underline;
}

.menu-info-general {
	background-color: rgb(54, 54, 54);
	border: 1px solid rgb(54, 54, 54);
	border-radius: 1rem;
	padding: 0 2.5rem;
	margin-bottom: 3rem;
	font-family:'Asap', sans-serif;
	font-size: 1.2rem;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.menu-info-general-buttons-chef {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8% 0 8% 6%;
}

.menu-info-general-button-user {
	display: flex;
	justify-content: center;
	margin: 1rem 0 0 15%;
}

.menu-info-edit-button, .menu-info-delete-button, .menu-info-buy-button {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.15em solid white;
	margin-bottom: 1.5em;
	border-radius:0.4em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Lato', sans-serif;
	font-size: 1rem;
	font-weight:500;
	color: white;
	text-align:center;
	transition: all 0.2s;
	background-color: rgb(54, 54, 54);
	cursor: pointer;
}

.menu-info-edit-button > a, .menu-info-delete-button > a, .menu-info-buy-button > a {
	text-decoration: none;
	color: white;
}

.menu-info-edit-button:hover, .menu-info-delete-button:hover, .menu-info-buy-button:hover {
	color:#000000;
	background-color:#dfe6e9;
}

.menu-info-edit-button:focus, .menu-info-delete-button:focus, .menu-info-buy-button:focus {
	outline: 0;
}

.link-chef-from-menu {
	text-decoration: none;
	color: white;
}

/******************
*** CREATE MENU ***
*** UPDATE MENU ***
******************/

.create-menu-container, .update-menu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Baloo 2', cursive;
	background-image: url('../images/medicook.jpeg');
	background-repeat: space;
	background-size: 100%;
}

.create-menu-container > h2, .update-menu-container > h2 {
	margin: 4rem 0 2rem 0;
	font-size: 5rem;
	color: white;
	text-decoration: underline;
}

.create-menu-box, .update-menu-box {
	margin: 1rem 0 5rem 0;
	border: 1px solid rgb(54, 54, 54);
	background-color: rgb(54, 54, 54);
	border-radius: 3rem;
	width: 60rem;
	height: auto;
	font-size: 1.4rem;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.create-menu-box  h3, .update-menu-box h3 {
	font-size: 3rem;
	margin-top: 4rem;
	text-decoration: underline;
}

.create-menu-box > form, .update-menu-box > form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.create-menu-starter-box, .create-menu-mainCourse-box, .create-menu-dessert-box, .create-menu-information-box,
.update-menu-starter-box, .update-menu-mainCourse-box, .update-menu-dessert-box, .update-menu-information-box {
	display: flex;
	justify-content: space-around;
}

.create-menu-dish-box-left, .create-menu-dish-box-right, .update-menu-dish-box-left, .update-menu-dish-box-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 0 3rem;
}

.create-menu-dish-box, .update-menu-dish-box {
	margin: 0 0.5rem;
}

.create-menu-dish-box > label, .update-menu-dish-box > label {
	margin-top: 1rem;
}

.create-menu-box > form > input, .create-menu-starter-box input, .create-menu-mainCourse-box  input, .create-menu-dessert-box  input, .create-menu-information-box  input,
.update-menu-box > form > input, .update-menu-starter-box input, .update-menu-mainCourse-box  input, .update-menu-dessert-box  input, .update-menu-information-box  input {
	margin-top: 0.5rem;
	width: 14rem;
	height: 2rem;
	border-radius: 0.5rem;
	font-size: 1rem;
}

.create-menu-button, .update-menu-button {
	font-size: 1.2rem;
	margin: 4rem 0;
	width: 10rem;
	height: 3rem;
	border-radius: 2rem;
	background-color: white;
	font-family: 'Baloo 2', cursive;
	font-size: 1.4rem;
}

.create-menu-button:focus, .update-menu-button:focus {
	outline: 0;
}

.create-menu-button:active, .update-menu-button:active {
	box-shadow: 1px 2px 1px black;
	transform: translateY(2px);
}