body {
  margin: 80px 0px 0px 0px;
  padding: 0px;
  font-size: 10px;
  height: 100%;
}

/***************
**** LAYOUT ****
***************/

/*** NAVBAR ***/

.navbar-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  height: 5rem;
  width: 100%;
  font-family: 'Baloo 2', cursive;
  border-bottom: 1px solid #b2bec3;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: white;
}

.layout-image-logo {
  width: 7rem;
  margin-top: 0.6rem;
}

.left-navbar-menu-chef {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35rem;
  padding: 0px;
  margin: 0px;
}

.current-email {
  color: black;
}

.right-navbar-account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
  margin: 0px;
  padding: 0px;
}

.left-navbar-menu-chef > li > a, .right-navbar-account > li > button > a{
  text-decoration: none;
  color: black;
}

.right-navbar-account > li > button > a {
  color: white;
}

.left-navbar-menu-chef > li, .right-navbar-account > li {
  list-style-type: none;
}

.cart-image {
  width: 2rem;
}

.layout-button-cart > a {
  display: flex;
  align-items: center;
  margin: 0px;
}

.layout-button-account, .layout-button-cart, .layout-button-logout {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: rgb(54, 54, 54);
  padding: 0.3rem;
  font-family: 'Baloo 2', cursive;
  font-size: 1.3rem;
}

.layout-button-account:active, .layout-button-cart:active {
  box-shadow: 2px 4px 2px rgb(141, 141, 141);
  transform: translateY(2px);
}

.layout-button-account:focus, .layout-button-cart:focus {
  outline: 0;
}

/*** FOOTER ***/

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(54, 54, 54);
  height: 13rem;
  font-size: 1.3rem;
  font-family: 'Baloo 2', cursive;
  border-top: 1px solid white;
}

.layout-footer-image-logo {
  width: 6rem;
}

.footer-container > ul {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  list-style-type: none;
  margin: 1rem 0 0 0;
  padding-left: 4rem;
}

.footer-container > ul > li >a {
  text-decoration: none;
  color: white;
}

.copyright {
  margin: 0 0 0.7rem 0;
  font-size: 1.2rem;
  color: white;
}

/****************
***** INDEX *****
****************/

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('../images/black-background.jpg');
  background-repeat: space;
  background-size: 100%;
  margin-top: 0;
  width: 100%;
  height: 49rem;
  color: rgba(255, 255, 255, 0.849);
  font-family: 'Baloo 2', cursive;
}

.index-title-box {
  margin-left: 2rem;
}

.index-container > div > h1 {
  font-family: 'Bellota', cursive;
  font-size: 8rem;
  margin: 0;
  padding-top: 2.7rem;
  font-style: oblique;
}

.index-container > div > h2 {
  font-size: 2.8rem;
  font-weight: 100;
  margin-top: 4.6rem;
}

.index-container > div > p {
  font-size: 1.8rem;
  margin-top: 5.5rem;
}

.index-order-button {
  font-size: 1.2rem;
  margin: 8rem 0 3rem 17%;
  width: 13rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: rgb(54, 54, 54);
}

.index-order-button > a {
  text-decoration: none;
  color: white;
  font-family: 'Baloo 2', cursive;
  font-size: 1.3rem;
}

.index-order-button:focus {
  outline: 0;
}

.index-order-button:active {
  box-shadow: 1px 2px 1px rgb(141, 141, 141);
  transform: translateY(2px);
}

/****************
***** LOG IN *****
****************/

.login-container {
  height: 49rem;
  width: 100%;
  background-image: url('../images/blacktable2.jpeg');
  background-repeat: space;
  background-size: 100%;
  opacity: 0.8;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Baloo 2', cursive;
}

.login-container > h2 {
  font-size: 4rem;
  color: white;
  text-decoration: underline;
  margin-top: 2rem;
}

.login-form-box {
  margin-top: 1rem;
  border: 1px solid rgb(54, 54, 54);
  background-color: rgb(54, 54, 54);
  border-radius: 3rem;
  width: 20rem;
  height: 30rem;
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.login-form-box > form > label {
  margin-top: 1rem;
}

.login-form-box > form > input {
  margin-top: 0.5rem;
  width: 14rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.login-button {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: white;
}

.login-button > a, .join-button > a {
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
  font-size: 1.3rem;
}

.login-button:focus {
  outline: 0;
}

.login-button:active {
  box-shadow: 1px 2px 1px black;
  transform: translateY(2px);
}

.join-button > a{
  color: white;
}

.join-button {
  background-color: rgb(54, 54, 54);
  border-radius: 1rem;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

/****************
***** CHEFS *****
****************/

.chefs-title {
  font-size: 3rem;
  font-family: 'Asap', sans-serif;
  text-align: center;
  margin-top: 8%;
}

.chefs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 4rem;
}

.chef-box {
  border: 2px solid #dfe6e9;
  border-radius: 3px;
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chef-name {
  font-family: 'Asap', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3%;
}

.chef-picture {
  width: 250px;
  height: auto;
}

.see-more-chef-btn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.2em solid #dfe6e9;
  margin:0 0.3em 1.5em 0;
  border-radius:0.10em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Asap', sans-serif;
  font-weight:300;
  color: black;
  text-align:center;
  transition: all 0.2s;
  background-color:#FFFFFF;
}

.see-more-chef-btn a {
  text-decoration: none;
  color: #000000;
}

.see-more-chef-btn:hover{
  color:#000000;
  background-color:#dfe6e9;
}

.separator-chef-profile {
  width: 25%;
  margin-bottom: 10%;
}