body {
  margin: 80px 0px 0px 0px;
  padding: 0px;
  font-size: 10px;
  height: 100%;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/***************
**** LAYOUT ****
***************/

/*** NAVBAR ***/

.navbar-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  height: 5rem;
  width: 100%;
  font-family: 'Baloo 2', cursive;
  position: fixed;
  top: 0;
  overflow: hidden;
  background: linear-gradient(180deg, black, black, rgb(12, 12, 12), rgb(24, 24, 24), rgb(36, 36, 36), rgb(37, 37, 37));
  z-index: 2;
}

.layout-image-logo {
  width: 11rem;
  margin-top: 0.6rem;
  margin-right: 2.5rem;
}

.left-navbar-menu-chef {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
  padding: 0px;
  margin: 0px;
}

.menu-separator {
  color: #b2bec3;
}

.current-email {
  color: rgb(255, 153, 0);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.right-navbar-account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35rem;
  margin: 0px;
  padding: 0px;
}

/*** LOGIN AND SIGNUP BUTTONS ***/

.login-signup-btn-container {
  display: flex;
  list-style: none;
  margin-left: 1rem;
}

.layout-btn-login, .layout-btn-signup {
	cursor: pointer;
	padding: 10px 20px; 
	margin: 15px 30px;
	text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid white;
  background: black;
  border-radius: 0.4rem;
}

.layout-btn-login a, .layout-btn-signup a { 
  color: white;
  text-decoration: none;
}

.layout-btn-login:hover,
.layout-btn-login:active {
  background: #4b6584;
}

.layout-btn-signup:hover,
.layout-btn-signup:active {
	background: #4b6584;
}

.layout-btn-login:focus, .layout-btn-signup:focus {
  outline: 0;
}

.left-navbar-menu-chef > li > a {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.left-navbar-menu-chef > li > a:hover,
.left-navbar-menu-chef > li > a:active {
  color: #d1d8e0;
}

.left-navbar-menu-chef > li, .right-navbar-account > li {
  list-style-type: none;
}

.layout-button-account {
	cursor: pointer;
	padding: 10px 20px; 
  margin: 15px 0px 15px 30px;
	text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
	font-weight: 700;
  border: 3px solid white;
  background: black;
  border-radius: 0.4rem;
  width: 11rem;
}

.layout-button-account a, .layout-button-logout a { 
  color: white;
  text-decoration: none;
}

.layout-button-logout {
	cursor: pointer;
	padding: 10px 20px; 
	margin: 15px 30px;
	text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid white;
  background: black;
  border-radius: 0.4rem;
}



.layout-button-cart {
  cursor: pointer;
	padding: 10px 0px 10px 20px; 
  margin: 15px 0px 15px 30px;
	text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
	font-weight: 700;
  border: 3px solid white;
  background: black;
  border-radius: 0.4rem;
  width: 8rem;
}

.layout-button-cart > a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0px;
}

.cart-image {
  width: 1rem;
  margin-left: 7px;
}

.layout-button-logout:focus, .layout-button-cart:focus, .layout-button-account:focus {
  outline: 0;
}

.layout-button-account:active, .layout-button-logout:active, .layout-button-cart:active {
  box-shadow: 2px 4px 2px rgb(141, 141, 141);
  transform: translateY(2px);
}

/*** FOOTER ***/

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, black, black, rgb(12, 12, 12), rgb(24, 24, 24), rgb(36, 36, 36), rgb(37, 37, 37));
  height: 13rem;
  font-size: 1.3rem;
  font-family: 'Baloo 2', cursive;
}

.layout-footer-image-logo {
  width: 6rem;
}

.footer-container > ul {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  list-style-type: none;
  margin: 1rem 0 0 0;
  padding-left: 4rem;
}

.footer-container > ul > li >a {
  text-decoration: none;
  color: white;
}

.copyright {
  margin: 0 0 0.7rem 0;
  font-size: 1.2rem;
  color: white;
}

/****************
***** INDEX *****
****************/

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('../images/black-background.jpg');
  background-repeat: space;
  background-size: 100%;
  margin-top: 0;
  width: 100%;
  height: 49rem;
  color: rgba(255, 255, 255, 0.849);
  font-family: 'Baloo 2', cursive;
}

.index-title-box {
  margin-left: 2rem;
}

.index-container > div > h1 {
  font-family: 'Bellota', cursive;
  font-size: 8rem;
  margin: 0;
  padding-top: 2.7rem;
  font-style: oblique;
}

.index-container > div > h2 {
  font-size: 2.8rem;
  font-weight: 100;
  margin-top: 4.6rem;
}

.index-container > div > p {
  font-size: 1.8rem;
  margin-top: 5.5rem;
}

.index-order-button {
  font-size: 1.2rem;
  margin: 8rem 0 3rem 17%;
  width: 13rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: rgb(54, 54, 54);
}

.index-order-button > a {
  text-decoration: none;
  color: white;
  font-family: 'Baloo 2', cursive;
  font-size: 1.3rem;
}

.index-order-button:focus {
  outline: 0;
}

.index-order-button:active {
  box-shadow: 1px 2px 1px rgb(141, 141, 141);
  transform: translateY(2px);
}

/****************
***** LOG IN *****
****************/

.login-container {
  height: 49rem;
  width: 100%;
  background-image: url('../images/blacktable2.jpeg');
  background-repeat: space;
  background-size: 100%;
  opacity: 0.8;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Baloo 2', cursive;
}

.login-container > h2 {
  font-size: 4rem;
  color: white;
  text-decoration: underline;
  margin-top: 2rem;
}

.login-form-box {
  margin-top: 1rem;
  border: 1px solid rgb(54, 54, 54);
  background-color: rgb(54, 54, 54);
  border-radius: 3rem;
  width: 20rem;
  height: auto;
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.login-form-box > form > label {
  margin-top: 1rem;
}

.login-form-box > form > input {
  margin-top: 0.5rem;
  width: 14rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.login-button {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: white;
}

.login-button > a, .join-button > a {
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
  font-size: 1.3rem;
}

.login-button:focus {
  outline: 0;
}

.login-button:active {
  box-shadow: 1px 2px 1px black;
  transform: translateY(2px);
}

.join-button {
  background-color: rgb(54, 54, 54);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.join-button > a{
  color: white;
}

.join-button:hover {
  background-color: black;
}

.join-button:focus {
  outline: 0;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

/****************
***** SIGNUP *****
****************/

.signup-container {
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
  background-image: url('../images/blacktable2.jpeg');
  background-repeat: space;
  background-size: 100%;
  opacity: 0.8;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Baloo 2', cursive;
}

.signup-container > h2 {
  font-size: 4rem;
  color: white;
  text-decoration: underline;
  margin: 2rem 0 2rem 0;
}

.signup-form-box, .signup-form-box-client {
  margin: 1rem 0 5rem 0;
  border: 1px solid rgb(54, 54, 54);
  background-color: rgb(54, 54, 54);
  border-radius: 3rem;
  width: 39rem;
  height: auto;
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form-box-client {
  width: 20rem;
}

.signup-form-box-client > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.signup-form-box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-label-input-box {
  margin: 0.5rem;
}

.signup-form-label-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signup-form-box-client > form {
  margin: 1rem 1rem 0 0;
}

.signup-form-box-client > form > input {
  margin: 0.5rem 0.5rem 0 0;
  width: 14rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.signup-form-label-input-box > input {
  margin: 0.5rem 0.5rem 0 0;
  width: 12rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.create-account-button {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: white;
}

.create-account-button > a {
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
  font-size: 1.3rem;
}

.create-account-button:focus {
  outline: 0;
}

.create-account-button:active {
  box-shadow: 1px 2px 1px black;
  transform: translateY(2px);
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(54, 54, 54);
}

.tablinks:last-child {
  border-left: 1px solid white;
}

.tablinks {
  color: white;
  font-size: 1rem;
}

.tablinks:focus {
  outline: 0;
  background-color: black;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: black;
}

/* Style the tab content */
.tabcontent-two {
  display: none;
}

/****************
***** CHEFS *****
****************/

.chefs-title {
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 4rem 0rem 4rem 5.5rem;
  margin-bottom: 1.5rem;
  height: 5rem;
  width: 100%;
  background-image: url(/images/kuisin-chefs1.jpg);
  background-size: 100%;
  opacity: 0.9;
}

.chefs-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.chef-box {
  background-color: white;
  border-radius: 8px;
  border: 3px solid rgb(54, 54, 54);
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chef-name {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 4%;
  text-transform: uppercase;
}

.chef-picture {
  width: 16rem;
  height: auto;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.see-more-chef-btn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.15em solid rgb(54, 54, 54);
  margin:0 0.3em 1.5em 0;
  border-radius:0.4em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight:500;
  color: black;
  text-align:center;
  transition: all 0.2s;
  background-color:#FFFFFF;
}

.see-more-chef-btn a {
  text-decoration: none;
  color: #000000;
}

.see-more-chef-btn:hover{
  color:#000000;
  background-color:#dfe6e9;
}

.see-more-chef-btn:focus {
  outline: 0;
}

.separator-chef-profile {
  width: 25%;
  margin-bottom: 10%;
}

/********************
*** CHEFS PROFILE ***
********************/

.chef-profile-box {
  display: flex;
}

.chef-profile-image {
  width: 23rem;
  height: auto;
  margin: 3rem;
  border:0.3em solid rgb(54, 54, 54);
  border-radius: 10px;
}

.chef-profile-info {
  margin: 3rem 0;
  font-family:'Asap', sans-serif;
  font-size: 1.2rem;
}

.chef-name-profile {
  font-size: 2.5rem;
  text-decoration: underline;
  font-family:'Baloo 2', sans-serif;
  font-weight: bold;
}

.chef-profile-info > p {
  font-size: 1.7rem;
}

.menus-title-profile {
  font-size: 2rem;
  font-family:'Baloo 2', sans-serif;
  text-align: center;
}

.chef-profile-edit-button, .chef-profile-create-menu-button {
  border-radius: 0.5rem;
  border: 2px solid black;
  margin: 2rem;
  background-color: rgb(54, 54, 54);
}

.chef-profile-edit-button > a, .chef-profile-create-menu-button > a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.chef-profile-edit-button:active, .chef-profile-create-menu-button:active {
  box-shadow: 1px 2px 1px gray;
  transform: translateY(2px);
}

.chef-profile-edit-button:focus, .chef-profile-create-menu-button:focus {
  outline: 0;
}

/*******************
*** CHEFS UPDATE ***
*******************/

.update-chef-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Baloo 2', cursive;
}

.update-chef-container > h2 {
  font-size: 4rem;
  text-decoration: underline;
  margin: 2rem 0 2rem 0;
}

.update-chef-box {
  margin: 1rem 0 3rem 0;
  border: 1px solid rgb(54, 54, 54);
  background-color: rgb(54, 54, 54);
  border-radius: 3rem;
  width: 22rem;
  height: auto;
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update-chef-box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.update-chef-box > form > label {
  margin-top: 1rem;
}

.update-chef-box > form > input {
  margin-top: 0.5rem;
  width: 14rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.update-account-button {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: white;
}

.update-account-button > a {
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
  font-size: 1.3rem;
}

.update-account-button:focus {
  outline: 0;
}

.update-account-button:active {
  box-shadow: 1px 2px 1px black;
  transform: translateY(2px);
}

/****************
***** MENUS *****
****************/


.menus-title {
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 4rem 0rem 4rem 6rem;
  margin-bottom: 1.5rem;
  height: 5rem;
  width: 100%;
  background-image: url(/images/kuisin-chefs1.jpg);
  background-size: 1600px;
  opacity: 0.9;
}

.menus-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.menus-box {
  background-color: white;
  border-radius: 8px;
  border: 3px solid rgb(54, 54, 54);
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menus-name {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1%;
  text-transform: uppercase;
}

.menus-price {
  font-family: 'Lato', sans-serif;
  color: rgb(54, 54, 54);
  font-size: 1.2rem;
  font-weight: bold;
}

.menus-picture {
  width: 16rem;
  height: auto;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.see-more-menus-btn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.15em solid rgb(54, 54, 54);
  margin:0 0.3em 1.5em 0;
  border-radius:0.4em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight:500;
  color: black;
  text-align:center;
  transition: all 0.2s;
  background-color:#FFFFFF;
}

.see-more-menus-btn a {
  text-decoration: none;
  color: #000000;
}

.see-more-menus-btn:hover{
  color:#000000;
  background-color:#dfe6e9;
}

.see-more-menus-btn:focus {
  outline: 0;
}

.separator-menus-profile {
  width: 25%;
  margin-bottom: 10%;
}

/******************
*** CREATE MENU ***
******************/

.create-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Baloo 2', cursive;
}

.create-menu-container > h2 {
  margin: 4rem 0;
  font-size: 4rem;
  text-decoration: underline;
}

.create-menu-box {
  margin: 1rem 0 5rem 0;
  border: 1px solid rgb(54, 54, 54);
  background-color: rgb(54, 54, 54);
  border-radius: 3rem;
  width: 60rem;
  height: auto;
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-menu-box  h3 {
  font-size: 2rem;
  margin-top: 4rem;
  text-decoration: underline;
}

.create-menu-box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-menu-starter-box, .create-menu-mainCourse-box, .create-menu-dessert-box, .create-menu-information-box {
  display: flex;
  justify-content: space-around;
}

.create-menu-dish-box-left, .create-menu-dish-box-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 3rem;
}

.create-menu-dish-box {
  margin: 0 0.5rem;
}

.create-menu-dish-box > label {
  margin-top: 1rem;
}

.create-menu-box > form > input, .create-menu-starter-box input, .create-menu-mainCourse-box  input, .create-menu-dessert-box  input, .create-menu-information-box  input {
  margin-top: 0.5rem;
  width: 14rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.create-menu-button {
  font-size: 1.2rem;
  margin: 4rem 0;
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: white;
  font-family: 'Baloo 2', cursive;
  font-size: 1.4rem;
}

.create-menu-button:focus {
  outline: 0;
}

.create-menu-button:active {
  box-shadow: 1px 2px 1px black;
  transform: translateY(2px);
}

/*****************
**** ABOUT US ****
*****************/

.about-us-container {
  display: flex;
  flex-direction: column;
  margin: 0 6%;
  align-items: center;
}

.about-us-presentation, .about-us-presentation-final {
  font-size: 1.5rem;
  margin: 0 2rem;
  text-align: center;
  font-family:'Asap', sans-serif;
}

.about-us-presentation-final {
  margin: 1rem 0 5rem 0;
  text-decoration: underline;
}

.about-us-profiles {
  display: flex;
  margin: 2rem 2rem;
}

.about-us-profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  border: 3px solid #8395a7;
  border-radius: 5px;
}

.about-us-profile-box-description {
  padding: 0rem 1.5rem 1.5rem;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  font-size: 1.2rem;
  width: 20rem;
}

.about-us-profile-box-img {
  margin-top: 1.5rem;
  width: 20rem;
  border-radius: 3px;
}

.about-us-profile-box-name {
  font-size: 2rem;
  font-family:'Baloo 2', sans-serif;
}

/*****************
** HOW IT WORKS **
*****************/

.how-it-works-container {
  display: flex;
  flex-direction: column;
}

.how-works-description {
  font-size: 2.2rem;
  color: #576574;
}

.how-works-number {
  font-size: 3rem;
  font-weight: 900;
  color: black;
  margin-right: 2rem;
}

.how-it-works-image {
  border-radius: 6px;
}

.how-it-works-info-box {
  display: flex;
  margin: 2rem 5rem;
}

.how-it-works-info-box > img {
  width: 20rem;
  margin: 0 1rem;
}

.how-it-works-info-box > p {
  font-family:'Lato', sans-serif;
}

.how-it-works-info-box:last-child {
  margin-bottom: 5rem;
}

/****************
*** MENU INFO ***
****************/

.menu-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-info-title {
  text-align: center;
}

.menu-info-box {
  display: flex;
  margin-bottom: 2rem;
}

.menu-info-image {
  width: 15rem;
  border-radius: 1rem;
}

.menu-info-info {
  display: flex;
  flex-direction: column;
}

.menu-info-name {
  font-size: 1.3rem;
  text-decoration: underline;
}

.menu-info-info {
  margin: 1rem;
}

.menu-info-info > p {
  font-size: 1.1rem;
}

.menu-info-container {
  margin-left: 2rem;
}

.menu-info-properties {
  font-size: 1.1rem;
}

.menu-info-general {
  background-color: rgb(218, 216, 216);
  border: 1px solid rgb(218, 216, 216);
  border-radius: 1rem;
  padding: 0 1rem;
  margin-bottom: 3rem;
}